@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.logo {
  font-weight: bold;
  font-size: 25px;
}

.hamburger {
  display: flex;
  justify-content: center;
  background-color: orange;
  padding: 10px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

@media (min-width: 1280px) {
  .hamburger {
    display: none;
  }
}
